# Environments
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env

# Database
*.db
*.sqlite3

# OS Specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
